<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body class="body">
    <%= htmlWebpackPlugin.options.widgets.header %>
    <div class="main">
        <div class="main__section">
            <%= htmlWebpackPlugin.options.widgets.intro %>
        </div>

        <div class="bg-pattern bg-pattern--1">
            <div class="main__section">
                <%= htmlWebpackPlugin.options.widgets.about %>
            </div>
        </div>
        <div class="bg-pattern bg-pattern--2">
            <div class="main__section mb-180">
                <%= htmlWebpackPlugin.options.widgets.map %>
            </div>
            <div class="main__section mb-180">
                <%= htmlWebpackPlugin.options.widgets.sliderAbout %>
                </div>
            <div class="main__section mb-180">
                <%= htmlWebpackPlugin.options.widgets.filter %>
            </div>
            <div class="main__section mb-180">
                <%= htmlWebpackPlugin.options.widgets.sliderPathes %>
            </div>
            <div class="main__section mb-180">
                <%= htmlWebpackPlugin.options.widgets.news %>
            </div>
            <div class="main__section mb-180">
                <%= htmlWebpackPlugin.options.widgets.partners %>
            </div>
            <div class="main__section mb-180">
                <%= htmlWebpackPlugin.options.widgets.more %>
            </div>
            <div class="main__section pb-180">
                <%= htmlWebpackPlugin.options.widgets.eco %>
            </div>
        </div>
    </div>
    <%= htmlWebpackPlugin.options.widgets.footer %>
</body>
</html>
