<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="body">
    <%= htmlWebpackPlugin.options.widgets.header %>
    <div class="main">
        <%= htmlWebpackPlugin.options.widgets.intro %>
        <%= htmlWebpackPlugin.options.widgets.about %>
        <%= htmlWebpackPlugin.options.widgets.map %>
        <%= htmlWebpackPlugin.options.widgets.sliderAbout %>
        <%= htmlWebpackPlugin.options.widgets.filter %>
        <%= htmlWebpackPlugin.options.widgets.sliderPathes %>
        <%= htmlWebpackPlugin.options.widgets.news %>
        <%= htmlWebpackPlugin.options.widgets.partners %>
        <%= htmlWebpackPlugin.options.widgets.more %>
        <%= htmlWebpackPlugin.options.widgets.eco %>
    </div>
    <%= htmlWebpackPlugin.options.widgets.footer %>
</body>
</html>
