<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Политика конфиденциальности</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body class="body">
    <%= htmlWebpackPlugin.options.widgets.headerStatic %>
    <div class="main">
        <div class="main__section">
            <section class="section">
                <div class="page-head" style="background-image: url('./assets/images/image-head.jpg')">
                    <div class="container">
                        <div class="breadcrumbs body-breadcrumb mb-40">
                            <a href="">Главная</a> - Политика конфиденциальности
                        </div>
                        <h1 class="title-page title-page-lg">
                            Политика конфиденциальности
                        </h1>
                    </div>
                </div>
            </section>
        </div>
        <div class="main__section">
            <section class="section">
                <div class="container">
                    <div class="wrapper-content">
                        <div class="editor editor--regular body-editor">
                            <p>
                                Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую сайт Компании, расположенный на доменном имени www.....ru, может получить о Пользователе во время использования сайта Компании, программ и продуктов Компании.
                            </p>
                            <br>
                            <h2 class="title-editor">
                                1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
                            </h2>
                            <br>
                            <p>
                                1.1.В настоящей Политике конфиденциальности используются следующие термины:
                            </p>
                            <p>
                                1.1.1. «Администрация сайта Компании (далее – Администрация сайта)» – уполномоченные сотрудники на управление сайтом, действующие от имени ООО «...»,которые организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
                            </p>
                            <p>
                                1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому Пользователю веб-сайта (субъекту персональных данных).
                            </p>
                            <p>
                                1.1.3.«Обработка персональных данных» - любоедействие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизацииили без использования таких средств с персональными данными, включая сбор, запись,систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
                            </p>
                            <p>
                                1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
                            </p>
                            <p>
                                1.1.5. «Пользователь сайта Компании (далее - Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт Компании.
                            </p>
                            <p>
                                1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый разпересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего
                            </p>
                            <p>
                                1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
                            </p>
                            <p>
                                1.1.8. Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных и обеспечивающих их обработку информационныхтехнологий и технических средств.
                            </p>
                            <p>
                                1.1.9. Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональныхданных.
                            </p>
                            <p>
                                1.1.10.Предоставление персональных данных — действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.
                            </p>
                            <p>
                                1.1.11. Распространение персональных данных — любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <%= htmlWebpackPlugin.options.widgets.footer %>
</body>
</html>
