@import "./mixins";
@import "./vars/global";
@import "./vars/sizes";
@import "./vars/colors";
@import "./margins";
@import "./fonts";
@import "./global";
@import "./shared";

.icon {
    width: r(20);
    height: r(20);
    display: block;
}
