.article-path {
	gap: r(18);
	display: flex;
	border-radius: r(16);
	padding: r(20) r(28);
	transition: 0.3s all;
	flex-direction: column;
	background-color: var(--color-white);

	&:hover {
		color: var(--color-white);
		background-color: var(--color-accent-light);

		.article-path {
			&__button {
				opacity: 1;
			}
		}

		.caption-marker__icon {
			fill: var(--color-dark);
		}
	}

	&__head {
		gap: r(8);
		display: flex;
		padding: 0 r(16);
		flex-direction: column;
	}

	&__wrapper {
		position: relative;
	}

	&__picture {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		overflow: hidden;
		position: absolute;
		border-radius: r(8);

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}

	&__content {
		z-index: 1;
		display: flex;
		padding: r(16);
		overflow: hidden;
		position: relative;
		border-radius: r(8);
		flex-direction: column;
		aspect-ratio: 376 / 265;
		justify-content: space-between;
	}

	&__button {
		opacity: 0;
		align-self: center;
		transition: 0.3s opacity;
	}
}
