.breadcrumbs {
	font-size: r(20);
	line-height: 1.3;
	color: var(--color-white);

	@media (max-width: 1299px) {
		font-size: r(16);
	}

	a {
		transition: 0.3s all;
		color: var(--color-accent-light);

		&:hover {
			opacity: 0.3;
		}
	}
}
