.bullet {
	width: r(16);
	height: r(16);
	display: block;
	border-radius: r(16);
	background-color: #D9D9D9;

	&.active {
		background-color: var(--color-accent-light);
	}
}

@media (max-width: 1299px) {
	.bullet {
		width: r(12);
		height: r(12);
	}
}
