.bullet {
	width: r(8);
	height: r(8);
	display: block;
	border-radius: r(16);
	background-color: var(--color-neutral-200);
	transition: background-color .3s ease;

	&.active {
		background-color: var(--color-accent-light);
	}
}

@media (max-width: 1299px) {
	.bullet {
		width: r(8);
		height: r(8);
	}
}
