.button {
	height: r(48);
	display: flex;
	gap: r(20);
	font-weight: 500;
	justify-content: center;
	align-items: center;
	padding: r(13) r(50);
	border-radius: r(16);
	transition: 0.3s all;
	background-color: var(--bg);
	color: var(--color);
	cursor: pointer;

	&--fill {
		min-width: r(196);
		width: fit-content;
		white-space: nowrap;
	}

	&--full {
		width: 100%;
	}

	&--accent {
		--bg: var(--color-accent-light);

		&:hover {
			--bg: var(--color-accent-light-hover);
		}
	}

	&--dark {
		--color: var(--color-white);
		--bg: var(--color-brand-blue);

		&:hover {
			opacity: 0.7;
		}
	}

	&--black {
		--color: var(--color-white);
		--bg: var(--color-black);

		&:hover {
			opacity: 0.7;
		}
	}

	&--ungle {
		border-radius: r(8);
	}

	&__icon {
		fill: var(--color);
		width: r(20);
		height: r(20);
	}
}

@media (max-width: 1299px) {
	.button {
		&--mob-full {
			width: 100%;
		}
	}
}
