.button-control {
	padding: r(12);
	cursor: pointer;
	transition: 0.3s ease;

	&__icon {
		width: r(85);
		height: r(26);
		transition: 0.3s all;
		fill: var(--color-accent-light);
	}

	&.disabled {
		.button-control {
			&__icon {
				fill: var(--color-dark);
			}
		}
	}

	&.loading {
		opacity: 0.85;
	}

	&.disabled-invert {
		.button-control {
			&__icon {
				fill: var(--color-white);
			}
		}
	}
}
