// Слайдер

.diamond-slider {
	// Конфигурация

	--item-size: #{r(470)};
	--item-gap: #{r(10)};
	--decorations-spacing-top: #{r(72)};
	--decorations-spacing-bottom: #{r(72)};
	--decorations-scale: 1;

	// Переопределение swiper

	&.swiper {
		overflow: visible;
	}

	.swiper-slide {
		width: var(--item-size);

		&:not(.swiper-slide-active):not(.swiper-slide-next):not(.swiper-slide-prev) {
			.diamond-slider__title {
				opacity: 0;
			}
		}
	}

	// Собственные стили

	&__decorations {
		position: absolute;
		left: 0;
		top: var(--decorations-spacing-top);
		bottom: var(--decorations-spacing-bottom);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 1;
	}

	&__decoration {
		transform: scale(var(--decorations-scale));

		&:nth-of-type(1) {
			transform-origin: top left;
		}

		&:nth-of-type(2) {
			transform-origin: bottom left;
		}
	}

	&__navigation {
		display: flex;
		justify-content: flex-end;
	}

	&__pagination {
		position: absolute;
		right: r(24);
		bottom: 0;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		gap: r(6);
		z-index: 1;
	}

	&__item {
		transform: rotate(-45deg) scale(calc(1 / sqrt(2)));
		width: var(--item-size);
		user-select: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}

	&__img {
		border-radius: r(32);
		aspect-ratio: 1;
		overflow: hidden;

		img {
			transform: rotate(45deg) scale(sqrt(2));
			width: 100%;
			height: 100%;
			object-fit: cover;
			-webkit-user-drag: none;
		}
	}

	&__title {
		transform: translateY(calc(100% + var(--item-gap)));
		position: absolute;
		color: var(--color-accent-dark);
		text-align: right;
		font-weight: 600;
		white-space: pre-wrap;
		transition: 0.3s ease opacity;
	}
}

@media (max-width: 1299px) {
	.diamond-slider {
		--item-size: #{r(270)};
		--decorations-spacing-top: #{r(40)};
		--decorations-spacing-bottom: 0;
		--decorations-scale: 0.7;

		&__navigation {
			display: none;
		}

		&__img {
			border-radius: r(24);
		}

	}
}

@media (min-width: 1300px) {
	.diamond-slider {
		&__pagination {
			display: none;
		}
	}
}

// Группа переключаемого контента вне слайдера

.diamond-slider-content {
	position: relative;

	&__item {
		position: absolute;
		inset: 0;
		transition: 0.3s ease opacity, 0.5s ease transform;
		transform-origin: top center;

		&:not(&--active) {
			transform: translateY(r(12));
			opacity: 0;
			pointer-events: none;
		}
	}
}
