.editor {
	& > * {
		margin-bottom: 1em;
	}

	& :last-child {
		margin-bottom: 0;
	}

	&--regular {
		h2 {
			font-weight: 700;
			line-height: 1.15;
			color: var(--color-accent-dark);
		}

		strong {
			font-weight: 700;
		}
	}
}

@media (max-width: 1299px) {
	.editor {
		&--regular {
		}
	}
}
