.editor {
	& > * {
		margin-bottom: 1em;
	}

	& :last-child {
		margin-bottom: 0;
	}

	&--regular {
		font-size: r(20);

		h2 {
			font-size: r(40);
			font-weight: 700;
			line-height: 1.15;
			color: var(--color-accent-dark);
		}

		strong {
			font-weight: 700;
		}
	}
}

@media (max-width: 1299px) {
	.editor {
		&--regular {
			font-size: r(15);

			h2 {
				font-size: r(26);
			}
		}
	}
}
