.form {
	&__group {
		gap: r(20);
		display: flex;
		flex-direction: column;
	}

	&__footer {
		gap: r(20);
		display: flex;
		margin-top: r(56);
		flex-direction: column;

		&--small {
			margin-top: r(24);
		}

		&--large{
			margin-top: r(56);
		}
	}

	&__text {
		color: var(--color-black-alpha-50);
		text-align: center;
	}

	&__error-text {
		color: var(--color-danger);
		font-size: r(13);
		text-align: center;
	}
}
