.intro-block {
	color: var(--color-white);

	&--small {
		.intro-block {
			&__caption {
				margin-top: r(35);
			}

			&__controls {
				margin-top: r(50);

				@media (max-width: 1299px) {
					margin-top: r(30);
				}
			}
		}
	}

	&__path {
		margin-top: r(50);

		img {
			width: 920px;
			max-inline-size: none;
		}
	}

	&__caption {
		color: var(--color-neutral-250);
	}
}

@media (max-width: 1299px) {
	.intro-block {
		&__path {
			margin-top: r(16);

			img {
				width: 920px;
			}
		}

	}
}
