.intro-block {
	color: var(--color-white);

	&--small {
		.intro-block {
			&__title {
				font-size: r(80);

				@media (max-width: 1299px) {

				}
			}

			&__caption {
				margin-top: r(35);

				@media (max-width: 1299px) {

				}
			}

			&__controls {
				margin-top: r(50);

				@media (max-width: 1299px) {
					margin-top: r(3git pull0);
				}
			}
		}
	}

	&__title {
		font-size: r(128);
		font-weight: 700;
		line-height: 1.15;
		text-transform: uppercase;
	}

	&__path {
		margin-top: r(50);

		img {
			width: 920px;
			max-inline-size: none;
		}
	}

	&__caption {
		color: #C9C9C9;
		font-size: r(24);
		line-height: 1.3;
	}
}

@media (max-width: 1299px) {
	.intro-block {
		&__title {
			font-size: r(48);
			line-height: 1.3;
		}

		&__path {
			margin-top: r(16);

			img {
				width: 920px;
			}
		}

		&__caption {
			font-size: r(16);
		}
	}
}
