.logo {
	display: block;

	@at-root {
		a#{&} {
			transition: 0.3s;

			&:hover {
				opacity: 0.7;
			}
		}
	}

	&__picture {
		width: auto;
		height: r(41);
		display: block;
	}
}
.section.section-header.menu {
	.logo__inverted {
		fill: var(--color-black) !important;
	}
}

@media (max-width: 1299px) {
	.logo {
		&--mob-small {
			.logo__picture {
				height: r(15);
			}
		}

		&--mob-medium {
			.logo__picture {
				height: r(28);
			}
		}

		&--mob-large {
			.logo__picture {
				height: r(48);
			}
		}
	}
}
