//.marker {
//	display: grid;
//	padding: r(12);
//	gap: r(8) r(16);
//	position: absolute;
//	border-radius: r(8);
//	align-items: center;
//	color: var(--color-white);
//
//	@media (max-width: 1299px) {
//		gap: r(12);
//		padding: r(8);
//		border-radius: r(4);
//		transform: translateY(-66px) translateX(-30px);
//	}
//
//	&.active {
//		z-index: 2;
//		background-color: var(--color-black);
//
//		.marker {
//			&__title {
//				display: block;
//				visibility: visible;
//			}
//
//			&__link {
//				display: flex;
//				visibility: visible;
//			}
//		}
//	}
//
//	&__preview {
//		grid-area: 1 / 1 / 3 / 2;
//
//		@media (max-width: 1299px) {
//			grid-area: 1 / 1 / 2 / 2;
//		}
//	}
//
//	&__image {
//		display: block;
//	}
//
//	 &__title {
//		 display: none;
//		 font-size: r(16);
//		 font-weight: 700;
//		 line-height: 1.35;
//		 grid-area: 1 / 2 / 2 / 3;
//
//		 @media (max-width: 1299px) {
//			 grid-area: 1 / 2 / 2 / 3;
//		 }
//	 }
//
//	&__link {
//		width: 100%;
//		height: r(32);
//		display: none;
//		font-weight: 500;
//		font-size: r(18);
//		min-width: r(140);
//		border-radius: r(8);
//		align-items: center;
//		justify-content: center;
//		grid-area: 2 / 2 / 3 / 3;
//		color: var(--color-white);
//		background-color: var(--color-accent-light);
//
//		@media (max-width: 1299px) {
//			font-size: r(12);
//			grid-area: 2 / 1 / 3 / 3;
//		}
//	}
//}

.marker {
	display: grid;
	padding: r(12);
	gap: r(8) r(16);
	font-family: var(--font-regular);

	@media (max-width: 1299px) {
		gap: r(12);
		padding: r(8);
		border-radius: r(4);
	}

	&__preview {
		width: r(84);
		grid-area: 1 / 1 / 3 / 2;

		@media (max-width: 1299px) {
			grid-area: 1 / 1 / 2 / 2;
		}
	}

	&__title {
		//padding: r(12);
		font-size: r(16);
		font-weight: 700;
		line-height: 1.35;
		margin: 0 0 r(8);
		grid-area: 1 / 2 / 2 / 3;

		@media (max-width: 1299px) {
			grid-area: 1 / 2 / 2 / 3;
		}
	}

	&__link {
		height: r(32);
		display: flex;
		font-size: r(18);
		border-radius: r(8);
		align-items: center;
		transition: 0.3s all;
		justify-content: center;
		grid-area: 2 / 2 / 3 / 3;
		color: var(--color-black) !important;
		background-color: var(--color-accent-light);

		@media (max-width: 1299px) {
			font-size: r(12);
			grid-area: 2 / 1 / 3 / 3;
		}

		&:hover {
			background-color: #F89827;
		}
	}
}

.leaflet-popup-content-wrapper {
	background: var(--color-black);
	color: var(--color-white);
	border: none;
	box-shadow: none;
	padding: 0;
}

.leaflet-popup-content {
	margin: 0;

	p {
		margin: 0;
	}
}

.leaflet-popup-tip {
	background-color: var(--color-black);
}

.leaflet-control-attribution {
	opacity: 0;
	display: none;
}

.leaflet-popup-tip-container {
	display: none;
}
