.section {
	//overflow: hidden;

	&.fixed {
		top: 0;
		left: 0;
		right: 0;
		z-index: 3;
		position: fixed;
	}

	&.section-header {
		transition: 0.3s all;
		color: var(--color-white);

		&.active {
			background-color: var(--color-black);
		}

		&.menu {
			background-color: var(--color-white);
		}
	}

	&.bg-dark {
		color: var(--color-white);
		background-color: var(--color-black);

		&.menu {
			color: var(--color-black);
			background-color: var(--color-white);;
		}
	}
}
