.select {
	display: flex;
	height: r(48);
	border-radius: r(8);
	align-items: center;
	padding: 0 r(32) 0 r(15);
	border: 1px solid #9B60274D;
	background-size: r(12) r(12);
	background-repeat: no-repeat;
	background-position: right r(15) center;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTIgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02LjMxNzQ5IDExLjg3NjRMMTEuODI4NyA2LjkwMzVDMTIuMTcyNSA2LjU5MzIgMTEuOTY0MSA2IDExLjUxMTIgNkgwLjQ4ODgzMUMwLjAzNTkwNDIgNiAtMC4xNzI1NDggNi41OTMyIDAuMTcxMzQgNi45MDM1TDUuNjgyNTEgMTEuODc2NEM1Ljg2NTIgMTIuMDQxMiA2LjEzNDggMTIuMDQxMiA2LjMxNzQ5IDExLjg3NjRaIiAvPgo8L3N2Zz4=");

}
