.slider-intro {
	&__navigation {
		margin-top: r(60);
	}

	&__pagination {
		display: flex;
		margin-top: r(100);
	}

	&__slide {
		transition: 0.3s opacity;

		&.prev {
			opacity: 0;
			pointer-events: none;
			//visibility: hidden;
		}
	}
}

@media (max-width: 1299px) {
	.slider-intro {
		&__pagination {
			margin-top: r(60);
		}
	}
}
