.slider-intro {
	&__pagination {
		gap: r(12);
		z-index: 2;
		width: 100%;
		bottom: r(80);
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;

	}
}

//@media (max-width: 1299px) {
//	.slider-intro {
//		&__pagination {
//			bottom: r(80);
//		}
//	}
//}
