.slide-info {
	position: relative;

	&__title {
		top: 50%;
		right: r(90);
		max-width: 40%;
		font-size: r(32);
		font-weight: 700;
		line-height: 1.15;
		position: absolute;
		border-radius: r(8);
		padding: r(12) r(16);
		color: var(--color-white);
		transform: translateY(-50%);
		background-color: var(--color-dark);

		@media (max-width: 1299px) {
			right: auto;
			font-size: r(24);
		}
	}
}
