.slider-intro {
	&__navigation {
		margin-top: r(60);
	}

	&__pagination {
		display: none;
		visibility: hidden;
	}
}

@media (max-width: 1299px) {
	.slider-intro {
		&__pagination {
			display: flex;
			margin-top: r(30);
			visibility: visible;
		}

		&__navigation {
			display: none;
			visibility: hidden;
		}
	}
}
