.slide-info {
	width: fit-content;
	position: relative;

	&__title {
		top: 50%;
		//right: r(90);
		left: 100%;
		max-width: 60%;
		position: absolute;
		border-radius: r(8);
		padding: r(12) r(16);
		color: var(--color-white);
		background-color: var(--color-dark);
		transform: translateX(-100%) translateY(-50%);

		@media (max-width: 1299px) {
			max-width: 80%;
		}
	}
}
