.title {
	&--regular {
		font-size: r(78);
		font-weight: 700;
		line-height: 1.15;
		color: var(--color-accent-dark);
	}

	&--large {

	}

	&.uppercase {
		text-transform: uppercase;
	}
}

@media (max-width: 1299px) {
	.title {
		&--regular {
			font-size: r(40);
			line-height: 1.15;
		}
	}
}
