.toolbar {
	display: flex;
	gap: r(48) r(16);
	align-items: center;
	justify-content: space-between;

	@media (max-width: 1299px) {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	&__title {
		width: 100%;
	}

	&__mobile {
		display: none;

		@media (max-width: 1299px) {
			gap: r(16);
			display: flex;
		}
	}
}
