<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Документы</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body class="body">
    <%= htmlWebpackPlugin.options.widgets.headerStatic %>
    <div class="main">
        <div class="main__section">
            <section class="section">
                <div class="page-head page-head--no-bg">
                    <div class="container">
                        <div class="breadcrumbs body-breadcrumb mb-40">
                            <a href="">Главная -</a> Документы
                        </div>
	                      <h1 class="title-page-lg">ДОКУМЕНТЫ</h1>
                    </div>
                </div>
            </section>
        </div>
        <div class="main__section">
            <section class="section">
                <div class="container">
		                <div class="mb-180 mbm-50">
			                  <form class="form-search-wide mb-70 mbm-50">
				                    <input class="form-search-wide__input"  type="search" name="query" placeholder="поиск">
					                  <button class="form-search-wide__button button button--black" type="submit">
							                  <svg class="button__icon">
								                    <use href="assets/sprite.svg#icon-search"></use>
							                  </svg>
						                    <span>Поиск</span>
					                  </button>
			                  </form>
			                  <div class="alphabet-list mb-60 mbm-50">
				                    <div class="alphabet-list__item">
					                      <div class="alphabet-list__letter title-overlay">А</div>
					                      <div class="alphabet-list__title title-sm">Ассоциация туризма Республики Ингушетия (АТРИ)</div>
					                      <div class="alphabet-list__attachment body-editor">
						                        <a class="alphabet-list__file" href="#">Форма паспорта комитета по туризму.pdf</a>
						                        <a class="alphabet-list__download" href="#">
								                        <svg class="alphabet-list__icon">
									                          <use href="assets/sprite.svg#icon-download"></use>
								                        </svg>
							                          <span>скачать</span>
						                        </a>
					                      </div>
				                    </div>
				                    <div class="alphabet-list__item">
					                      <div class="alphabet-list__letter title-overlay">К</div>
					                      <div class="alphabet-list__title title-sm">Комитет культурного наследия Республики Ингушетия</div>
					                      <div class="alphabet-list__attachment body-editor">
						                        <a class="alphabet-list__file" href="#">Kratkoe-opisanie-Komiteta-kulturnogo-naslediya-RI.docx</a>
						                        <a class="alphabet-list__download" href="#">
								                        <svg class="alphabet-list__icon">
									                          <use href="assets/sprite.svg#icon-download"></use>
								                        </svg>
							                          <span>скачать</span>
						                        </a>
					                      </div>
					                      <div class="alphabet-list__attachment body-editor">
						                        <a class="alphabet-list__file" href="#">Polozhenie_o_strukturnih_podrazdeleniyah_Ministerstva_CHechenskoi_Respubliki_po_turizmu.pdf</a>
						                        <a class="alphabet-list__download" href="#">
								                        <svg class="alphabet-list__icon">
									                          <use href="assets/sprite.svg#icon-download"></use>
								                        </svg>
							                          <span>скачать</span>
						                        </a>
					                      </div>
				                    </div>
			                  </div>
			                  <div class="pagination">
					                  <a class="pagination__navigation pagination__navigation--disabled" href="#">
							                  <svg class="pagination__icon">
								                  <use href="assets/sprite.svg#icon-chevron-left"></use>
							                  </svg>
					                  </a>

				                    <a href="#" class="pagination__item pagination__item--active">
					                    1
				                    </a>

				                    <a href="#" class="pagination__item">
					                    2
				                    </a>

				                    <a href="#" class="pagination__item">
					                    3
				                    </a>

				                    <div class="pagination__dots">
					                    ...
				                    </div>

				                    <a href="#" class="pagination__item">
					                    14
				                    </a>

					                  <a class="pagination__navigation" href="#">
							                  <svg class="pagination__icon">
								                  <use href="assets/sprite.svg#icon-chevron-right"></use>
							                  </svg>
					                  </a>
			                  </div>
		                </div>
                </div>
            </section>
        </div>
    </div>
    <%= htmlWebpackPlugin.options.widgets.footer %>
</body>
</html>
